.banner-container {
	height: 100vh;
}

.banner-title {
	margin-bottom: 100px;
}

.socials-container {
	background-color: burlywood;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

.socials-container a {
	color: black;
}

.socials-container li {
	padding: 5px 15px;
}

.socials-container a:hover {
	color: grey;
}
