* {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

a {
	text-decoration: none;
	color: black;
}

li {
	list-style-type: none;
}

.main-container {
	display: flex;
	flex-direction: column;
}

.banner-container {
	height: 500px;
	width: 100%;
	background-image: url(img/banner.jpg);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.banner-title {
	color: white;
	padding: 10px;
	text-align: center;
	font-size: 2em;
}

.socials-container ul {
	display: flex;
	flex-direction: row;
}

.socials-container li {
	padding: 10px 20px;
}

.socials-container a {
	font-size: 40px;
	font-weight: 500;
	color: white;
}

.socials-container a:hover {
	color: grey;
}

.nav {
	position: sticky;
	width: 100%;
	top: 0;
	background-color: rgba(240, 128, 128, 0.5);
}

.nav a {
	font-size: 1.1em;
	font-weight: 500;
}

.nav a:hover {
	color: grey;
}

.nav li {
	padding: 10px 20px;
}

.nav ul {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.contact {
	padding: 0 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border: 2px solid rgba(105, 42, 42, 0.6);
}

.content-container {
	margin: 50px 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	min-height: 40vh;
}

.content-img-container {
	flex: 50%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.content-img {
	max-width: 80%;
}

.content-blog-container {
	flex: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.content-blog {
	text-align: right;
	font-size: 15px;
	margin-left: 30%;
	margin-right: 10%;
	line-height: 1.2em;
}

.content-blog-title {
	text-align: right;
	margin-bottom: 10px;
	font-size: 25px;
	margin-left: 30%;
	margin-right: 10%;
}

.footer-container {
	width: 100%;
}

@media screen and (max-width: 600px) {
	.nav {
		display: none;
	}

	.banner-title {
		font-size: 1em;
	}
}

@media screen and (max-width: 800px) {
	.banner-title {
		font-size: 1.5em;
	}

	.content-container {
		flex-direction: column;
	}

	.content-blog {
		margin: 5%;
		text-align: center;
	}

	.content-blog-title {
		text-align: center;
		margin: 10px 0 10px 0;
	}

	.content-img-container {
		justify-content: center;
	}
}
