* {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	overflow-x: hidden;
}

a {
	text-decoration: none;
	color: black;
}

li {
	list-style-type: none;
}

.banner-container {
	background-image: url(img/banner.jpg);
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.banner-title {
	color: white;
	padding: 10px;
	text-align: center;
	font-size: 2em;
}

.socials-container ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.socials-container li {
	padding: 1% 10%;
}

.socials-container a {
	font-size: 40px;
	font-weight: 500;
}

.nav {
	position: fixed;
	top: 10px;
	right: 10px;
	background-color: burlywood;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

.nav a {
	font-size: 1.1em;
	font-weight: 500;
	border-right: 1px solid brown;
	padding-right: 20px;
}

.nav a:hover {
	color: grey;
}

.nav li {
	padding: 10px 20px;
}

.nav ul {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.contact {
	padding: 0 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border: 2px solid rgba(105, 42, 42, 0.6);
}

.footer-container {
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: burlywood;
}

@media screen and (max-width: 600px) {
	.nav {
		display: none;
	}

	.banner-title {
		font-size: 1em;
	}
}

@media screen and (max-width: 800px) {
	.banner-title {
		font-size: 1.5em;
	}
}
