:root {
	--main-background-color: cyan;
	--main-border-radius: 10px;
}

* {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

a {
	text-decoration: none;
	color: black;
}

.main-container {
	display: flex;
	flex-direction: column;
}

.banner-container {
	height: 500px;
	width: 100%;
	background-image: url(img/banner.jpg);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.banner-title {
	color: white;
	padding: 10px;
	text-align: center;
	border-top-left-radius: var(--main-border-radius);
	border-top-right-radius: var(--main-border-radius);
	border-bottom-left-radius: var(--main-border-radius);
	border-bottom-right-radius: var(--main-border-radius);
}

.banner-link {
	margin-top: 50px;
	color: white;
	padding: 10px;
	background-color: rgba(0, 255, 255, 0.5);
	border: solid 1px cyan;
	border-top-left-radius: var(--main-border-radius);
	border-top-right-radius: var(--main-border-radius);
	border-bottom-left-radius: var(--main-border-radius);
	border-bottom-right-radius: var(--main-border-radius);
}

.banner-link:hover {
	background-color: var(--main-background-color);
}

.nav {
	position: sticky;
	width: 100%;
	top: 0;
	background-color: rgba(0, 255, 255, 0.5);
}

.nav a {
	font-size: 20px;
	font-weight: 500;
}

.nav a:hover {
	background-color: blue;
}

.nav li {
	list-style-type: none;
	padding: 10px 20px;
}

.nav ul {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.content-container {
	margin: 50px 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.content-img-container {
	flex: 50%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.content-img {
	max-width: 80%;
}

.content-blog-container {
	flex: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.content-blog {
	text-align: right;
	font-size: 15px;
	margin-left: 30%;
	margin-right: 10%;
	line-height: 1.2em;
}

.content-blog-title {
	text-align: right;
	margin-bottom: 10px;
	font-size: 25px;
	margin-left: 30%;
	margin-right: 10%;
}

.gallery-container {
	width: 100%;
	height: 400px;
}

.footer-container {
	width: 100%;
	height: 300px;
}

@media screen and (max-width: 600px) {
	.nav {
		display: none;
	}

	.content-container {
		flex-direction: column;
	}

	.content-blog {
		margin: 5%;
		text-align: center;
	}

	.content-blog-title {
		text-align: center;
		margin: 10px 0 10px 0;
	}

	.content-img-container {
		justify-content: center;
	}
}
