.banner-container {
	height: 30vh;
}

.contact-content {
	display: flex;
	padding: 1%;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

form {
	display: flex;
	width: 40%;
	padding: 1%;
	flex-direction: column;
}

.form-element {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

textarea.form-input {
	height: 150px;
}

.form-input {
	width: 75%;
	height: 30px;
	border-radius: 5px;
	margin-top: 5px;
	padding: 10px;
	border: 1px solid var(--colour-primary);
	resize: vertical;
}

input[type=submit] {
	width: 100%;
	color: white;
	padding: 0;
	background: var(--colour-secondary);
}

input[type=submit]:hover {
	background-color: var(--colour-primary);
	cursor: pointer;
}

.side-content {
	height: 100%;
	width: 30%;
	margin: 20px 0;
	flex-direction: column;
}

.side-content > p {
	width: 100%;
}

@media screen and (max-width: 600px) {
	.contact-content {
		flex-direction: column;
	}

	form {
		width: 90%;
		margin-bottom: 20px;
	}

	label {
		font-size: 13px;
	}

	.side-content {
		width: 90%;
	}
}

@media screen and (max-width: 950px) {
	form {
		width: 90%;
		margin-bottom: 20px;
	}
}
