.banner-container {
	height: 50vh;
}

.action-button {
	background: var(--colour-primary);
	padding: 1% 3%;
	font-size: 20px;
	font-weight: 600;
}

.content-container {
	margin: 50px 0;
	display: flex;
	flex-wrap: wrap;
	min-height: 40vh;
}

.content-img-container {
	flex: 50%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.content-img {
	max-width: 80%;
}

.content-blog-container {
	flex: 50%;
}

.content-blog {
	text-align: right;
	font-size: 15px;
	margin-left: 30%;
	margin-right: 10%;
	line-height: 1.2em;
	overflow: hidden;
}

.content-blog-title {
	text-align: right;
	margin-bottom: 10px;
	font-size: 25px;
	margin-left: 30%;
	margin-right: 10%;
}

@media screen and (max-width: 800px) {
	.content-container {
		flex-direction: column;
	}

	.content-blog {
		margin: 5%;
		text-align: center;
	}

	.content-blog-title {
		text-align: center;
		margin: 10px 0;
	}

	.content-img-container {
		justify-content: center;
	}
}
