.banner-container {
	height: 50vh;
}

.action-button {
	background: var(--colour-primary);
	padding: 1% 3%;
	font-size: 20px;
	font-weight: 600;
}

.content {
	padding-bottom: 5%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: 'words1 pic1' 'pic2 words2';
	column-gap: 5%;
	max-width: 900px;
}

.content > p:nth-child(1) {
	grid-area: "words1";
	text-align: right;
}

.content > p:nth-child(4) {
	grid-area: "words2";
	text-align: left;
}

.content-img > img {
	border-radius: 50%;
	object-fit: cover;
}

.content > p {
	padding: 0 5%;
}

@media screen and (max-width: 800px) {
	.content {
		column-gap: 0%;
	}

	.content > p:nth-child(1),
	.content > p:nth-child(4) {
		text-align: center;
		padding-bottom: 5%;
	}

	.content {
		grid-template-rows: 2fr 1fr 2fr 1fr;
		grid-template-columns: 1fr;
		grid-template-areas: 'pic1' 'words1' 'pic2' 'words2';
	}
}
