:root {
	--colour-primary: #282828;
	--colour-secondary: #6e6e6e;
	--colour-tertiary: #ffffff;
	--colour-accent: rgb(0, 139, 139);

	--border-radius: 10px;

	--mobile-nav-height: 50px;
	--scrollbar-width: 10px;
	--banner-title-font-size: 2rem;
	--header-height: 60px;
}

* {
	padding: 0;
	margin: 0;
	font-family: 'Poppins', sans-serif;
	overflow-x: hidden;
	box-sizing: border-box;
}

*::selection {
	background: var(--colour-primary);
}

a {
	text-decoration: none;
	color: var(--colour-secondary);
}

a:hover {
	color: var(--colour-accent);
}

li {
	list-style-type: none;
}

::-webkit-scrollbar {
	width: var(--scrollbar-width);
}

::-webkit-scrollbar-track {
	background: var(--colour-secondary);
}

::-webkit-scrollbar-thumb {
	background: var(--colour-primary);
}

.rounded-border {
	border-top-left-radius: var(--border-radius);
	border-top-right-radius: var(--border-radius);
	border-bottom-left-radius: var(--border-radius);
	border-bottom-right-radius: var(--border-radius);
}

.banner-container {
	background-image: url(../img/banner.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	flex-direction: column;
	margin-top: var(--header-height);
}

.banner-title {
	color: var(--colour-tertiary);
	font-size: var(--banner-title-font-size);
	width: 100%;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 10px;
	text-align: center;
	background: rgba(24, 24, 24, 0.431);
}

.socials {
	background: var(--colour-primary);
}

.socials a {
	color: var(--colour-primary);
	font-size: 2.5em;
}

.socials a:hover {
	color: var(--colour-accent);
}

.socials li {
	width: 70px;
	height: 50px;
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.left-align {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.fill {
	width: 100%;
	height: 100%;
}

.header {
	width: 100%;
	background: var(--colour-primary);
	height: var(--header-height);
	top: 0;
	left: 0;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: space-between;
	transition: opacity 300ms;
}

.logo {
	width: 60px;
	height: 100%;
	margin-left: 5%;
	overflow: hidden;
}

.nav {
	width: 600px;
	margin-right: 5%;
}

.nav p {
	margin-left: 5px;
}

.card-container {
	padding: 5%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
}

.card {
	position: relative;
	overflow: hidden;
}

.card:hover .overlay {
	opacity: 1;
}

.card:hover img {
	transform: scale(1.1);
	transition: transform 500ms;
}

.overlay {
	position: absolute;
	font-size: 1.6em;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .3s ease;
	background: rgb(40, 40, 40, 0.7);
}

.active {
	background: rgba(var(--colour-accent), 0.4);
	border-top-left-radius: var(--border-radius);
	border-top-right-radius: var(--border-radius);
	border-bottom-left-radius: var(--border-radius);
	border-bottom-right-radius: var(--border-radius);
}

.footer {
	bottom: 0;
	width: 100%;
	flex-direction: column;
	background: var(--colour-primary);
}

.socials {
	width: 100%;
	height: 100px;
	background: var(--colour-secondary);
}

.carousel {
	margin: 10% 0;
	width: 100%;
}

.carousel img {
	border: 2px solid var(--colour-primary);
}

.bg-img {
	width: 250px;
}

.bg-bg-img {
	width: 200px;
}

.arrow {
	background: var(--colour-primary);
	border: none;
	padding: 1%;
	cursor: pointer;
	outline: none;
	color: var(--colour-secondary);
}

.to-top {
	cursor: pointer;
	background: var(--colour-secondary);
	border: none;
	text-decoration: none;
	border-radius: 2px;
	padding: 1%;
}

.copyright {
	text-align: center;
	width: 100%;
	padding: 1%;
	color: var(--colour-secondary);
}

@media screen and (max-width: 600px) {
	.header {
		bottom: 0;
		top: auto;
		width: 100%;
		height: var(--mobile-nav-height);
		box-shadow: 0 -1px var(--colour-secondary);
		overflow: hidden;
	}

	.logo {
		display: none;
	}

	.nav {
		width: 100%;
		margin: 0;
	}

	.nav a {
		display: flex;
		flex-direction: column;
	}

	.nav i {
		font-size: 1.3em;
	}

	.nav p {
		font-size: 0.8em;
	}

	.card-container {
		grid-template-columns: 1fr;
	}

	.banner-container {
		margin-top: 0;
	}

	.banner-title {
		font-size: 1em;
	}

	.copyright {
		font-size: 0.8em;
		margin: 10% 0;
	}

	.footer {
		margin-bottom: var(--mobile-nav-height);
	}

	.bg-img {
		display: none;
	}

	.bg-bg-img {
		display: none;
	}
}

@media screen and (max-width: 800px) and (min-width: 600px) {
	.banner-title {
		font-size: 1.5em;
	}

	.card-container {
		grid-template-columns: 1fr 1fr;
	}

	.bg-bg-img {
		display: none;
	}
}
