:root {
	--colour-light: #343434;
	--colour-dark: black;
	--colour-accent: lightcyan;
}

* {
	padding: 0;
	margin: 0;
	font-family: 'Poppins', sans-serif;
	overflow-x: hidden;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	color: var(--colour-accent);
}

li {
	list-style-type: none;
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	background: var(--colour-dark);
}

::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.5);
}

.rounded-border {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.banner-container {
	background-image: url(../img/camping2.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	flex-direction: column;
}

.banner-title {
	color: white;
	font-size: 2em;
	text-transform: uppercase;
	font-weight: bold;
}

.banner-title h1 {
	text-align: center;
}

.socials-container {
	background: var(--colour-light);
}

.socials-container a {
	font-size: 40px;
}

.socials-container li {
	width: 70px;
	height: 50px;
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.fill {
	width: 100%;
	height: 100%;
}

.nav-desktop {
	position: fixed;
	width: 60%;
	height: 30px;
	top: 0;
	right: 0;
	display: flex;
	justify-content: flex-end;
	background: var(--colour-light);
}

.mobile-nav {
	position: fixed;
	top: 0;
	display: none;
	width: 90%;
	height: 100%;
	transition: right 500ms;
}

.nav-list {
	background: var(--colour-light);
	padding: 5%;
}

.nav-list li {
	width: 100%;
	height: 40px;
	display: flex;
}

.nav-list a {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.mobile-nav-button {
	transform: translate(0, 50%);
	background: var(--colour-dark);
	width: 15%;
	height: 5%;
}

.spacer {
	width: 10%;
}

.active {
	padding: 0 10px;
	background: var(--colour-dark);
}

.footer-container {
	bottom: 0;
	width: 100%;
	flex-direction: column;
	background: var(--colour-light);
}

.footer-container > .socials-container {
	width: 100%;
	padding: 5% 0;
	background: var(--colour-dark);
}

.footer-container > .gallery {
	padding: 20% 0;
}

.copyright {
	text-align: center;
	padding: 1%;
	color: white;
}

@media screen and (max-width: 600px) {
	.nav-desktop {
		display: none;
	}

	.mobile-nav {
		display: flex;
	}

	.banner-title {
		font-size: 1em;
	}

	.copyright {
		font-size: 15px;
		margin: 10% 0;
	}
}

@media screen and (max-width: 800px) {
	.banner-title {
		font-size: 1.5em;
	}
}
