.banner-container {
	height: 30vh;
}

@media screen and (max-width: 600px) {
	.merch-container {
		grid-template-columns: 1fr;
	}
}

@media screen and (max-width: 900px) and (min-width: 600px) {
	.merch-container {
		grid-template-columns: 1fr 1fr;
	}
}
