.banner-container {
	height: 30vh;
}

img,
h2,
p {
	overflow: hidden;
}

@media screen and (max-width: 1000px) {
	.trips {
		grid-template-columns: 1fr;
	}
}

@media screen and (max-width: 1200px) and (min-width: 1000px) {
	.trips {
		grid-template-columns: 1fr 1fr;
	}
}
